.product_item-wrapper {
  background-color: white;
  padding: 1.5rem;
  display: grid;
  gap: 0.5rem;
  text-align: center;
}

.add_remove_cart-wrapper {
  background-color: #00334e;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.button-add_remove {
  width: 1.7rem;
}
